.prisonResumeSuccessAlert {
	position: absolute;
	top: 0;
	right: 0;
	width: 50%;
}

.featherDescriptionCard {
    margin-top: 50px;
}

.Width{
    display: flex;
}

.Underline{
	text-decoration: underline;
}

.Reducao{
	margin-top: 10px;
	margin-bottom: 10px;
	margin-bottom: -20px;
}

.totalFianca{
margin-top: 10px;
}

.totalMulta{
	margin-top: 10px;
}

.totalPena{
	margin-top: 10px;
}
